.join-meeting {
  margin: auto;
  color: #D0D4D9;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .join-meeting-content-input {
    text-align: left;

    input {
      width: 260px;
    }

    .input-label {
      font-size: 15px;
      color: #D0D4D9;
    }
  }

  button {
    width: 260px;
  }
}