@use "@src/theme/theme.scss" as *;

.setting-draggable-modal {
  .ant-modal-content {
    padding: unset;
    height: 80vh;
    overflow: hidden;
    border: 1px solid #2a2a2a;
    background-color: $dark-mode-background-color;

    .ant-modal-close {
      top: unset;
    }

    .ant-modal-header {
      margin-bottom: unset;
      background: $dark-mode-font-color;

      .ant-modal-title {
        height: 30px;
        color: $dark-mode-background-color;
        line-height: 30px;
        padding-left: 10px;
      }
    }

    .ant-modal-body {
      height: calc(80vh - 30px);
      line-height: unset;

      .ant-layout {
        height: 100%;
        background: unset;

        .ant-layout-sider {
          width: 25%;
          color: $dark-mode-font-color;
          background: $dark-mode-background-color;

          .ant-layout-sider-children {
            overflow: auto;
            scrollbar-width: thin;
            scrollbar-color: #2b2b2b #777777;

            .ant-menu-dark {
              color: $dark-mode-font-color;
              background: $dark-mode-background-color;

              .ant-menu-sub {
                background: unset;
              }

              .ant-menu-item-selected {
                font-weight: bolder;
                background-color: #2b2b2b;
              }

            }
          }
        }

        .ant-layout {
          padding: 10px;
          border-left: 1px solid #2b2b2b;

          .ant-layout-header {
            color: $dark-mode-font-color;
            height: 40px;
            padding: unset;
            line-height: unset;
            background: $dark-mode-background-color;
          }

          .ant-layout-content {
            color: $dark-mode-font-color;
            background: $dark-mode-background-color;
            overflow: auto;
            scrollbar-width: thin;
            scrollbar-color: #2b2b2b #777777;

            .speaker-text, .microphone-text {
              font-size: 20px;
            }

            .select-container {
              display: flex;

              .ant-space-item:first-child {
                flex: 1;
              }

              .speaker-select, .microphone-select {
                width: 100%;

                .ant-select-selector {
                  color: $dark-mode-font-color;
                  border: 1px solid #2a2a2a;
                  background: $dark-mode-background-color;
                  box-shadow: unset;

                  .ant-select-selection-item {
                    color: $dark-mode-font-color;
                  }
                }

                .ant-select-selector:hover {
                  background: #2a2a2a;
                }
              }

              .ant-btn {
                border: 1px solid #2a2a2a;
                color: $dark-mode-font-color;
                background: $dark-mode-background-color;
              }

              .ant-btn:hover {
                background: #2a2a2a;
              }
            }

            .indicator-container, .slider-container {
              gap: 10px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              div:first-child {
                width: 225px;
                font-size: 16px;
                text-align: right;
              }
            }
          }
        }
      }
    }
  }
}

.speaker-select-options, .microphone-select-options {
  border: 1px solid #2a2a2a;
  background: $dark-mode-background-color;

  .ant-select-item {
    color: $dark-mode-font-color;
  }
}