@use "@src/theme/theme.scss" as *;

.voice-activity-indicator {
  width: 100%;

  .bar {
    width: 2px;
    height: 20px;
    border-radius: 2px;
    transition: background-color 0.3s ease;
    background-color: $dark-mode-font-color;
  }

  .nominal-bar {
    background-color: #22C55E;
  }

  .presence-bar {
    background-color: #4FC3F799;
  }
}