@use "@src/theme/theme.scss" as *;
.welcome {
  margin: auto;
  color: $dark-mode-font-color;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .welcome-content-title {
    font-size: 25px;
  }

  .welcome-content-button {
    button {
      width: 260px;
    }
  }
}