.desktop-welcome {
  margin: auto;
  color: #D0D4D9;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .desktop-welcome-content-title {
    font-size: 25px;
  }

  .desktop-welcome-content-button {
    button {
      width: 200px;
    }
  }
}