@use "@src/theme/theme.scss" as *;
.microphone-volume-bars {
  display: flex;
  align-items: flex-end;
  gap: 2px;
  width: 100%;
  height: 30px;

  .mic-bar.active {
    background-color: #22c55e;
  }

  .mic-bar {
    flex: 1;
    height: 30px;
    background-color: $dark-mode-font-color;
    transition: background-color 0.2s;
  }
}